/*CSS declarations go here */

/*ul{
        width: 250px;
        
}*/

body{
    background: #ffffff url("/backgrd.gif") repeat;
}



.form-actions{
    border-top-style: none;
    background-color:transparent;
}
form a#login, a#registar{
    color: dimgray;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
}

.myCarousel{
    border-style: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightgray;
}

/*
.selected {
        background-color: orange;
}*/
