<template name="form_registo">
	
	<div class="row-fluid">
		<div class="span4 offset3">
			<div class="row-fluid wellForm well-large">
				<form class="form-horizontal " id="registo">
					  <div class="control-group">
					    <label class="control-label" for="resgistoNome"><span class="label">Nome</span></label>
					    <div class="controls">
					      <div class="input-prepend">
	      					<span class="add-on"><i class="icon-user"></i></span>
					      	<input name="nome" class="span12" type="text" id="registoNome" placeholder="Nome">
					      </div>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="resgistoSobrenome"><span class="label">Sobrenome</span></label>
					    <div class="controls">
					      <div class="input-prepend">
	      					<span class="add-on"><i class="icon-user"></i></span>
					      	<input name="snome" class="span12" type="text" id="registoSobrenome" placeholder="Sobrenome">
					      </div>
					    </div>
					  </div>
					  {{#unless aluno}}
						  <div class="control-group">
						    <label class="control-label" for="registoEscola"><span class="label">Escola</span></label>
						    <div class="controls">
						    	 <div class="input-prepend">
		      						<span class="add-on"><i class="icon-lock"></i></span>
						      		<input name="escola" class="span12" type="text" id="registoEscola" placeholder="Código professor">
						      	</div>
						    </div>
						  </div>
					  	
					  {{/unless}}
					  
					  <div class="control-group">
					    <label class="control-label" for="registoEmail"><span class="label">Email</span></label>
					    <div class="controls">
					      <div class="input-prepend">
	      					<span class="add-on"><i class="icon-envelope"></i></span>
					      	<input name="email" class="span12" type="text" id="registoEmail" placeholder="Email">
					      </div>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="registoPassword"><span class="label">Password</span></label>
					    <div class="controls">
					    	 <div class="input-prepend">
	      						<span class="add-on"><i class="icon-lock"></i></span>
					      		<input name="password" class="span12" type="password" id="registoPassword" placeholder="Password">
					      	</div>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="registoPasswordVer"><span class="label">Verificar Password</span></label>
					    <div class="controls">
					    	 <div class="input-prepend">
	      						<span class="add-on"><i class="icon-lock"></i></span>
					      		<input name="password_again" class="span12" type="password" id="registoPasswordVer" placeholder="Password novamente">
					      	</div>
					    </div>
					  </div>
					  
					  <div class="form-actions">
					  	
						  <div class="btn-group" data-toggle="buttons-radio" >
							  <button id="aluno" type="button" class="btn btn-warning tipo">Aluno</button>
							  <button id="EE" type="button" class="btn btn-warning tipo">E.Educ.</button>
							  <button id="prof" type="button" class="btn btn-warning tipo">Prof.</button>
						  </div>
						
					  </div>
					  
					  <div class="control-group">
					    <div class="controls">
					      <br>
					      <button type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i> Submeter</button>
					    </div>
					  </div>
					  <div class="span0 offset0">
						<a href="#" rel="tooltip" id="login" title="Fazer login."><small>Login</small></a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
</template>



<template name="topregisto">
	<div class="span12 offset0">
		<h1 class="well" style="text-align: center ;">NOVO REGISTO</h1>
	</div>
</template>

<template name="bottomregisto">
	<div class="span12 offset0">
	</div>
</template>
