<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<template name="config_sidebar-left">
    <div class="span12 offset0">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Alterar</li>
            <li class="dados {{#if activar selected="configdadosP"}}active{{/if}}"><a href="#">Dados Pessoais</a></li>     
            <li class="insc {{#if activar selected="configinsc"}}active{{/if}}"><a href="#">Inscrição</a></li>  
            <li class="EEs {{#if activar selected="adminEEs"}}active{{/if}}"><a href="#">Enc. Educação</a></li> 
            <li class="escolas {{#if activar selected="adminescolas"}}active{{/if}}"><a href="#">Escolas</a></li>   
            
            <li class="nav-header">Confirmar Inscrições</li>
            <li class="confirm {{#if activar selected="configconfirm"}}active{{/if}}"><a href="#">Confirmações</a></li>   
        </ul>
    </div>
</template>

