<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<template name="config_sidebar-left">
    <div class="span12 offset0">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Alterar</li>
            <li class="dados {{#if activar selected="configdadosP"}}active{{/if}}"><a href="#"><i class="cus-user cus-white"></i> Dados Pessoais</a></li>     
            <li class="insc {{#if activar selected="configinsc"}}active{{/if}}"><a href="#"><i class="cus-report-add cus-white"></i> Inscrição</a></li>  
            <li class="EEs {{#if activar selected="adminEEs"}}active{{/if}}"><a href="#"><i class="cus-group cus-white"></i> Enc. Educação</a></li> 
            <li class="escolas {{#if activar selected="adminescolas"}}active{{/if}}"><a href="#"><i class="cus-house cus-white"></i> Escolas</a></li>   
            
            <li class="nav-header">Confirmar Inscrições</li>
            <li class="confirm {{#if activar selected="configconfirm"}}active{{/if}}"><a href="#"><i class="cus-page-edit cus-white"></i>Confirmações</a></li>   
        </ul>
    </div>
</template>

