<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<template name="config_dados_pessoais">
    
    
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs nav-pills">
          <li class="active"><a href="#tab1" data-toggle="pill">Identificação</a></li>
          <li><a href="#tab2" data-toggle="pill">Encarregado Educação</a></li>
          <li><a href="#tab3" data-toggle="pill">Inquérito</a></li>
        </ul>
        
        <div class="tab-content" >
          
            <div class="tab-pane active" id="tab1" >
              {{>dpForm}}
            </div>
          
          <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
          </div>
          <div class="tab-pane" id="tab3">
            <p>Howdy, I'm in Section 3.</p>
          </div>
        </div>
        <div class="form-actions">
           <button id="btnform" type="submit" class="btn">Guardar</button>
           <button id="btnedit" type="button" class="btn">Editar</button>
        </div>
        
        
   </div>
    
   
    
    
</template>


<template name="dpForm">
    
    
        <form class="form-horizontal wellForm">
          
            <div class="control-group">
               
                {{>dpForm2}}
               
            </div>
           
        
        <div class="control-group">  
            <label class="control-label" for="dtn">Data de Nascimento </label>
            <div id="idtn" class="controls">
            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                <input name="dtn" id="dtn" class="span8" size="16" type="text" value="12-02-2012" disabled>
                <span id="calicon" class="add-on"><i class="cus-calendar-edit"></i></span>
           </div>
                
               
            </div>
        </div>
         
        
            
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox"> Remember me
            </label>
            <!--<button type="submit" class="btn">Guardar</button>-->
          </div>
        </div>
        
    </form>
    
</template>

<template name="dpForm2">
    <div class="control-group">
      <div class="form-inline">
          <label class="control-label" for="Nome">Nome</label>
          <div class="controls">
            <input name="nome" type="text" id="Nome" placeholder="Nome">
            <input name="sobrenome" type="text" id="Sobrenome" placeholder="Sobrenome">
          </div>
      </div>
      </div>    
    <div><p></p></div>
    
    <div class="control-group">
      <div class="form-inline">
            <label class="control-label" for="Morada">Morada</label>
            <div class="controls">
                  <input type="text" id="Morada" placeholder="Morada">
                  <input name="CPostal" type="text" id="CPostal" placeholder="Código Postal">
            </div>
      </div>
    </div>    
    <div><p></p></div>
        
    <div class="control-group">
      <div class="form-inline">
            <label class="control-label" for="tel">Contato</label>
            <div class="controls">
                  <input name="tel" type="text" id="tel" placeholder="Telefone Casa">
                  <input name="tlm" type="text" id="telemovel" placeholder="Telemóvel">
            </div>
      </div>
    </div>
    
</template>